body {
  margin: 0px;
  overflow: hidden;
}

.logoimage{
	position: fixed;
	top: 0;
	left: 15px; 
	background-image: url(../images/logo.png);
	background-size: cover;
	height: 100px;
	width: 329px;
	background-repeat: no-repeat;
	z-index: 10001;
}

.shadow {
  background-color: #000000;
  opacity:0.9;
}


#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.land-div  {
  transform: translate(-81%, -206%) matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -13, 0, 0, -201, -62, -8, 3) !important;
  color:#fff;
  text-shadow: 2px 2px 4px #000000;
      -webkit-font-smoothing: subpixel-antialiased;
    zoom: 168%;
}

.sea-div  {
      transform: translate(131%, -206%) matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -17, 0, 0, -204, -62, 96, 3) !important;
  color:#fff;
  text-shadow: 2px 2px 4px #000000;
      -webkit-font-smoothing: subpixel-antialiased;
    zoom: 168%;
}

.threats-div  {
  transform: translate(-108%, -206%) matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -13, 0, 0, 245, -62, 181, 3) !important;
  color:#fff;
  text-shadow: 2px 2px 4px #000000;
      -webkit-font-smoothing: subpixel-antialiased;
    zoom: 168%;
}

.protected-div  {
      transform: translate(91%, -209%) matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -20, 0, 0, -204, -63, -7, 3) !important;
  color:#fff;
  text-shadow: 2px 2px 4px #000000;
      -webkit-font-smoothing: subpixel-antialiased;
    zoom: 168%;
}


#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
}

#content {
  position: absolute;
  top:0;
  bottom: :2rem;
  right:2rem;
  left:0;
  background-color: #fff;
  display: none;
  z-index: 1000;
}

#content.visible {
  display: block;
}

#sphere {
  z-index: 0;
}

.btn-animal-outer {
   top: -90px;
    left: 54px;
    font-size: 35px;
    /*-webkit-transform: rotate(-90deg);*/
}

.btn-animal-inner:hover{ 
  /*box-shadow: 0px 0px 150px #000000;*/
  transition: all 200ms ease-in;
  transform: scale(1.1); 
}

.btn-animal-outer.polarbear, .btn-animal-outer.seaotter, .btn-animal-outer.oil_gas , .btn-animal-outer.arctic_nature{
    transform: translate(903%, -46%) matrix3d(2.4, 0, -3.4445, 0, 0, -4, 0, 0, 0, 0, -1, 0, -2540, 9, 12805, 1) !important;
}

.btn-animal-outer.arcticfox, .btn-animal-outer.narwhal, .btn-animal-outer.climate_change {
  transform: translate(109%, -44%) matrix3d(-1, 0, -1, 0, 0, -1.3, 0, 0, 0, 0, -1, 0, 281, 9, -2390, 1) !important;
}

.btn-animal-outer.arcticwolf, .btn-animal-outer.orca, .btn-animal-outer.shipping {
      transform: translate(-1319%, -45%) matrix3d(4, 0, 2.8, 0, 0, -5.6, 0, 0, 0, 0, -1, 0, 5539, 8, 12519, 1.2) !important;
}

.btn-animal-outer.ermine, .btn-animal-outer.walrus, .btn-animal-outer.mining, .btn-animal-outer.lemmenjoki {
  transform: translate(-270%, -30%) matrix3d(-1, 0, 4, 0, 0, -4, 0, 0, 0, 0, -1, 0, -4001, 8, -2800, 3) !important;
}


.btn-animal-inner {  
  background-position: 22% 50%;
  background-size: cover;
  border-radius: 50%;
  border: 30px solid white;
  position: relative;
  right: 186px;
  bottom: 200px;
  width: 1000px;
  height: 1000px;
}
.btn-animal-inner::before {
  content: attr(data-content);
  display: table;
  position: absolute;
  top: 1069px;
  left: 68px;
  font-family: 'Fjalla One';
  font-size: 140px;
  color:#fff;
  text-transform: uppercase;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
#form-window {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 2rem;
    display: none;
    z-index: 10001;
}

/* Info window */
#info-window {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#fff;
  padding:2rem;
  display:none;
  z-index: 10000;
}



#info-window.visible {
  display:block;
}

#form-window.visible {
  display:block;
}